<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Multiobjecstorage</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #ff5353;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <header>
            <h1>Here you can mange your Object Storages</h1>
        </header>
        <main>

<div>
  name: String
  , typ: String
  , expiresinS : Number

  <form method="post" action="/ConfigStorage/adddata">
      <label>Enter data here</label><br>
      <input type="text" name="name" placeholder="Your name for your Object storage..." required>
      <input type="text" name="typ" placeholder="s3 or google" required>
      <input type="number" name="expiresinS" placeholder="standart time for then expire time of links" required>
      <input type="text" name="data" placeholder="Json logindaten" required>
      <input type="submit" value="Add Name">
  </form>
   </div>


        </main>
    </body>
</html>
